---
// src/layouts/MainLayout.astro
import '../styles/global.css'; // 添加这行代码
const { title } = Astro.props;
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  
  <body>
    <nav style="padding: 1rem; border-bottom: 1px solid #ccc;">
      <a href="/">首页</a> | <a href="/about">关于我们</a>
    </nav>
    <h1 class="text-4xl font-bold text-blue-500 underline">
  这是测试文字，看看是不是蓝色且带下划线？
    </h1>
    
    
    <main style="padding: 1rem;">
      <slot />
    </main>

    <footer style="padding: 1rem; border-top: 1px solid #ccc; text-align: center;">
      <p>© 2026 你的公司名称</p>
    </footer>
  </body>
</html>